<div class="card-block">
  <%= form_for [@note.ceu, @note]  do |f| %>
  <%= f.hidden_field :ceu_id %>
  <%= f.text_area :content, size: "50x6" %>
  <%= f.submit class: 'btn btn-outline-primary' %>
  <%= link_to "Delete Note", ceu_note_path, method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' } %>
  <%= link_to "Back", :back, class: 'btn btn-outline-info' %>
  <% end %>
</div>
