<div class="card">
  <div class="card-block text-xs-center">
    <h4 class="display-4" id="ceuTitle"><%= @ceu.title %></h4>
    <a href="#" class="js-previous fa fa-arrow-left fa-2x btn btn-outline-secondary" data-prev="<%=@ceu.id%>"></a>
    <a href="#" class="js-next fa fa-arrow-right fa-2x btn btn-outline-secondary" data-id="<%=@ceu.id%>"></a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" id="ceuLocation">Location: <%= @ceu.location %></li>
    <li class="list-group-item list-group-item-action" id="ceuDate">Date: <%= @ceu.date.strftime("%-m/%-d/%Y") %></li>
    <li class="list-group-item list-group-item-action" id="ceuDuration">Duration: <%= @ceu.duration %> minutes</li>
    <li class="list-group-item list-group-item-action" id="ceuCertificate">Certificate: <%= @ceu.certificate %></li>
  </ul>
  <div class="card-block text-xs-center">
    <%= link_to "Back", :back, class: 'btn btn-outline-info' %>
    <%= link_to "Edit CEU", edit_user_ceu_path, class: 'btn btn-outline-warning' %>
    <%= link_to "Delete CEU", user_ceu_path, method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' } %>
  </div>
</div>
