<div class="card">
  <div class="card-block">
    <h4 class="display-4"><%= @ceu.title %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">Location: <%= @ceu.location %></li>
    <li class="list-group-item list-group-item-action">Date: <%= @ceu.date.strftime("%m/%d/%Y") %></li>
    <li class="list-group-item list-group-item-action">Duration: <%= @ceu.duration %> minutes</li>
    <li class="list-group-item list-group-item-action">Certificate: <%= @ceu.certificate.classification %></li>
  </ul>
  <div class="card-block">
    <%= link_to "Back", user_path(current_user), class: 'btn btn-outline-info' %>
    <%= link_to "Edit CEU", edit_user_ceu_path, class: 'btn btn-outline-warning' %>
    <%= link_to "Delete CEU", user_ceu_path, method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' } %>
    <button class="btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-lg">New Note</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <%= render 'notes/form' %>
        </div>
      </div>
    </div>  </div>
</div>
