<td>
    <%= ceu.id %>
</td>
<td>
    <%= link_to ceu.title, ceu_path(ceu)%>
</td>
<td>
    <%= ceu.date %>
</td>
<td>
    <%= ceu.location %>
</td>
<td>
    <%= ceu.duration %>
</td>
<td>
  Insert certficate type...?
</td>
