<div class="card">
  <div class="card-block">
    <h4 class="display-4" id="ceuTitle"><%= @ceu.title %></h4>
    <a href="#" class="js-previous" data-prev="<%=@ceu.id%>">Previous</a> |
    <a href="#" class="js-next" data-id="<%=@ceu.id%>">Next</a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" id="ceuLocation">Location: <%= @ceu.location %></li>
    <li class="list-group-item list-group-item-action" id="ceuDate">Date: <%= @ceu.date.strftime("%m/%d/%Y") %></li>
    <li class="list-group-item list-group-item-action" id="ceuDuration">Duration: <%= @ceu.duration %> minutes</li>
    <li class="list-group-item list-group-item-action" id="ceuCertificate">Certificate: <%= @ceu.certificate %></li>
  </ul>
  <div class="card-block">
    <%= link_to "Back", :back, class: 'btn btn-outline-info' %>
    <%= link_to "Edit CEU", edit_user_ceu_path, class: 'btn btn-outline-warning' %>
    <%= link_to "Delete CEU", user_ceu_path, method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' } %>
    <%= link_to "Notes", new_note_path, class: 'btn btn-outline childrens-9' %>
  </div>
</div>
