<h1 class="display-4"><%= @ceu.title %></h1>
  <p>Location: <%= @ceu.location %></p>
  <p>Date: <%= @ceu.date.strftime("%m/%d/%Y") %></p>
  <p>Duration: <%= @ceu.duration %> minutes</p>
  <p>Certificate: <%= @ceu.certificate.classification %></p>
