<%= form_for @ceu do |f| %>

<div class="field">
  <span class="field"><i class="fa fa-info"></i></span>
  <%= f.text_field :title, placeholder: "CEU Title" %>
</div>
<br>
<div class="field">
  <span class="field"><i class="fa fa-calendar-o"></i></span>
  <%= f.date_field :date %>
</div>
<br>
<div class="field">
  <span class="field"><i class="fa fa-map-marker"></i></span>
  <%= f.text_field :location, placeholder: "Location" %>
</div>
<br>
<div class="field">
  <span class="field"><i class="fa fa-clock-o"></i></span>
  <%= f.number_field :duration, placeholder: "Duration in Minutes" %>
</div>
<br>
<div class="field">
  <%= f.label :"Choose Certificate Type:" %>
  <!-- eventually add in certificate type: State or National -->

</div>
<div class="actions">
  <%= f.submit "Create CEU", class: 'btn btn-primary' %>
</div>

<% end %>
