<h2><%= @ceu.title %></h2>
<p>
  Location: <%= @ceu.location %>
</p>
<p>
  Date: <%= @ceu.date %>
</p>
<p>
  Duration: <%= @ceu.duration %> minutes
</p>
Certificate:
  <% @ceu.certificates.each do |certificate| %>
    <%= certificate.classification %>
  <% end %>
