<div class="container">
  <h1 class="display-4"><%= @ceu.title %></h1>
    <p>Location: <%= @ceu.location %></p>
    <p>Date: <%= @ceu.date.strftime("%m/%d/%Y") %></p>
    <p>Duration: <%= @ceu.duration %> minutes</p>
    <p>Certificate: <%= @ceu.certificate.classification %></p>

    <br>
    <h1 class="display-4">Add a Note:</h1>
    <%= render 'notes/form' %>
    <br><br>

    <h1 class="display-4">All Notes:</h1>
      <%= render 'notes/notes' %>
    <br><br>
      <%= link_to "Edit CEU", edit_ceu_path(@ceu), class: 'btn btn-warning' %>
      <br><br>
      <%= form_tag ceu_path(@ceu), method: "delete" %>
        <%= submit_tag "Delete CEU", class: 'btn btn-danger' %>
      <br><br>
      <%= link_to "Back", user_path(current_user), class: 'btn btn-info' %>
</div>
