<h2><%= @ceu.title %></h2>
<p>
  Location: <%= @ceu.location %>
</p>
<p>
  Date: <%= @ceu.date %>
</p>
<p>
  Duration: <%= @ceu.duration %> minutes
</p>
Certificate:
  <% @ceu.certificates.each do |certificate| %>
    <%= certificate.classification %>
  <% end %>
<br><br>
<h4>Add a Note:</h4>
  <%= form_for @ceu.notes.build do |f| %>
    <%= f.hidden_field :ceu_id %>
    <%= f.text_area :content %><br>
    <%= f.submit "Create Note", class: 'btn btn-primary' %>
  <% end %>
<br><br>

<h4>All Notes:</h4>
    <% @ceu.notes.each do |note| %>
    <p><%= note.content %></p>
    <% end %>

<br><br>
  <%= link_to "Edit CEU", edit_ceu_path(@ceu), class: 'btn btn-warning' %>
  <br><br>
  <%= form_tag ceu_path(@ceu), method: "delete" %>
    <%= submit_tag "Delete CEU", class: 'btn btn-danger' %>
  <br><br>
  <%= link_to "Back", user_path(current_user), class: 'btn btn-default' %>
