<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to root_path, class: 'navbar navbar-brand' do %>
            <i class="fa fa-heartbeat fa-2x"></i><% end %>
        </div>
        <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "My Account", user_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "New CEU", new_user_ceu_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "All CEUs", ceus_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, method: "delete", class: 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item"><%= link_to "Log In", new_user_session_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %></li>
            <% end %>
        </ul>
    </div>
</nav>
