<!DOCTYPE html>
<html>
    <head>
        <title>MyCEUs</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= yield :head %>
    </head>

    <body>
        <%= render 'layouts/navbar' %>
        <br>
        <div class="container">
          <%= render 'layouts/messages' %>
            <%= yield %>
        <nav class="navbar fixed-bottom navbar-light bg-faded">
            <span class="navbar-text">
                &copy; 2016 | Michael Casciato
            </span>
        </nav>
    </body>
</html>
